<section class="section">
  <header class="header">
    <h2>Premios</h2>
  </header>
  {% for association in site.data.awards %}
  <div class="item" itemscope itemprop="memberOf" itemtype="http://schema.org/Organization">
    <h3 class="name" itemprop="name">{% if association.url %}<a href="{{ association.url }}">{{ association.organization }}</a>{% else %}{{ association.organization }}{% endif %}</h3>
    <h4 class="description" itemprop="description">{{ association.role }} &bull; {{ association.year }}</h4>
    <p class="summary">{{ association.summary }}</p>
  </div>
  {% endfor %}
</section>