<section class="section">
    <header class="header">
      <h2>Educación</h2>
    </header>
    {% for education in site.data.education %}
    <div class="item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
      <h3 class="name" itemprop="name">{{ education.degree }}</h3>
      <h4 class="description" itemprop="description">{{ education.uni }} &bull; {{ education.year }}</h4>
      {% if education.awards %}
        <ul>
          {% for item in education.awards %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    {% endfor %}
  </section>