<section class="section">
  <h2 class="section__header">Educación</h2>
  {% for education in site.data.education %}
    <div class="section__item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
      <h3 class="section__name" itemprop="name">{{ education.degree }}</h3>
      <h4 class="section__description" itemprop="description">{{ education.uni }} &bull; {{ education.year }}</h4>
      {% if education.awards %}
        <div class="section__summary">
          <ul>
            {% for item in education.awards %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</section>
