<section class="content-section">
  <header class="section-header">
    <h2>Experiencia</h2>
  </header>
  {% for job in site.data.experience %}
  <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
    <h3 class="resume-item-title" itemprop="name">{{ job.company }}</h3>
    <h4 class="resume-item-details" itemprop="description">{{ job.position }} &bull; {{ job.duration }}</h4>
    <p class="resume-item-copy">{{ job.summary }}</p>
  </div>
  {% endfor %}
</section>