<section class="section">
  <h2 class="section__header">Proyectos</h2>
  {% for project in site.data.projects %}
    <div class="section__item" itemscope itemtype="http://schema.org/CreativeWork">
      <meta itemprop="creator" content="{{ site.resume_name }}" itemtype="http://schema.org/Person" />
      <h3 class="section__name" itemprop="name">{{ project.project }}</h3>
      <h4 class="section__description" itemprop="description">{{ project.role }}  &bull; {{ project.duration }}</h4>
      <div class="section__summary">
        <p>{{ project.description }}</p>
        {% if project.items %}
          <ul>
            {% for item in project.items %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        </div>
    </div>
  {% endfor %}
</section>
