<section class="section">
  <header class="header">
    <h2>Proyectos</h2>
  </header>
  {% for project in site.data.projects %}
  <div class="item" itemscope itemtype="http://schema.org/CreativeWork">
    <meta itemprop="creator" content="{{ site.resume_name }}" itemtype="http://schema.org/Person" />
    <h3 class="name" itemprop="name">{{ project.project }}</h3>
    <h4 class="description" itemprop="description">{{ project.role }}  &bull; {{ project.duration }}</h4>
    <p class="summary">{{ project.description }}</p>
    {% if project.items %}
      <ul>
        {% for item in project.items %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  {% endfor %}
</section>