// Base styles
// ---------------------------------------/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  background: #fff;
}
body {
  font-family: 'Noto Serif JP', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 34px;
  color: #2d2d2d;
  a {
    color: #2d2d2d;
    text-decoration: none;
    &:hover {
      color: #333;
      text-decoration: underline;
    }
  }
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex {
  display: -webkit-flex;
  display:         flex;
 -webkit-flex-flow: row;
         flex-flow: row;
  .inner {
    flex: 0 0 50%;
  }
}
