// Resume styles
// ---------------------------------------/

// page header styles
.page-header {
  padding: 2rem 0;
  .avatar {
    display: block;
    width: 200px;
    margin: 0 auto 20px;
    border-radius: 150px;
  }
  .name {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    line-height: 1;
  }
  .title-bar {
    border-top: 5px solid #f6f6f6;
    border-bottom: 5px solid #f6f6f6;
    padding: 10px;
    .title {
      margin: 0;
      font-weight: 500;
      font-size: 1.5rem;
    }
    ul {
      margin: 0;
      padding: 0;
      text-align: right;
      list-style: none;
      li {
        display: inline-block;
        margin: 0 0 0 5px;
        a {
          display: block;
          font-size: 1.5rem;
          color: #999;
          &:hover {
            color: #333;
          }
        }
      }
    }
  }
  .description {
    max-width: 860px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-style: italic;
  }

}




// util
/*
.section-header {
  @include section_border;
  margin-bottom: 1.5rem;

  h2 {
    @include sans;
    font-weight: 900;
    font-size: 1.75rem;
    letter-spacing: -.05rem;
    margin: 0;
  }
  
}

.icon-links {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  top: 4px;
  text-align: center;
  border-top: 2px solid #c7c7c7;
  padding-top: .4rem;

  @include media_larger_than_mobile {
    float: right;
    border-top: none;
    padding-top: 0;
  }

  .icon-link-item {
    display: inline-block;
    margin-left: 5px;
  }

  .icon-link { display: inline-block;

    &:hover .fab {
      color: #666;
    }
  }

  .fab {
    font-size: 26px;
    color: #999;
  }
}




// resume content styles

.content-section {
  margin: 2rem 0 3rem;

  .resume-item { margin-bottom: 2rem; }

  .resume-item-title {
    @include sans_bold;
    margin: 0 0 .75rem;
    font-size: 1.5rem;
    letter-spacing: -.05rem;
    line-height: 1;
  }

  .resume-item-details {
    font-size: 1.125rem;
    margin: 0 0 .75rem;
    line-height: 1;

    &.award-title {
      font-size: 1rem;
    }
  }

  .resume-item-title,
  .resume-item-details,
  .resume-item-copy,
  .resume-item-list {
    a {
      color: #333;
      text-decoration: none;
      border-bottom: 1px solid;

      &:hover {
        border-bottom: none;
        color: #9c9c9c;
      }
    }
  }

  .resume-item-copy { margin: .75rem 0 0; }
}

// footer styles

.page-footer {
  border-top: 4px solid #c7c7c7;
  padding-top: 1.5rem;
  text-align: center;
  margin-bottom: 3rem;

  .footer-line {
    margin: 0;
    font-size: .875rem;
    color: #999;

    > a {
      font-weight: 700;
      color: #333;
    }
  }
}


*/