body {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size-base;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.octocat {
  fill: $black;
  color: $white;
  width: 80px;
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  .octocat__arm {
    transform-origin: 130px 106px;
  }
  &:hover .octocat__arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}


.container {
  max-width: $container;
  margin: 0 auto;
  padding: $gutters;
}

.header {
  margin: 2rem 0 0;
  text-align: center;
  &__avatar {
    display: block;
    width: 200px;
    margin: 0 auto 2rem;
    border-radius: 150px;
  }
  &__name {
    margin: 0 0 20px;
    @include font-size($font-size-supertitle, 900);
  }
  &__description {
    margin: 0 0 20px;
    @include font-size($font-size-subtitle);
    font-style: italic;
  }
  &__social {
    border-top: 5px solid #f6f6f6;
    padding: 20px;
    @include font-size($font-size-subtitle);
    li {
      display: inline-block;
      margin: 5px;
    }
  }
}

.section {
  margin: 30px 0 100px;
  &__header {
    margin: 0 0 20px;
    padding: 0 0 20px;
    @include font-size($font-size-title, 900);
    border-bottom: 3px solid #f0f0f0;
  }
  &__item { 
    margin: 0 0 35px;
  }
  &__name {
    margin: 0;
    @include font-size($font-size-subtitle, 700);
  }
  &__description {
    margin: 0 0 1rem;
    @include font-size($font-size-text, 200);
    font-style: italic;
  }
  &__summary {
    @include font-size($font-size-text, 200);
    li {
      margin: 0 0 5px 20px;
      display: block;
      &::before {
        content: "• ";
        padding: 0 5px 10px 0;
      }
    }
  }
}


footer {
  margin: 2rem 0;
  text-align: center;
  @include font-size($font-size-small, 200);
  .heart {
    color: $red;
  }
}
