.octocat {
  fill: $body-color;
  color: $white;
  width: 80px;
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  .octocat__arm {
    transform-origin: 130px 106px;
  }
  &:hover .octocat__arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
